html, body {
    background: palegoldenrod;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/***
Main Grid
***/
.grid-omega {
    background: black;
    margin: 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto 500px auto 150px;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer-1"
      "footer-2";
    gap: 0px;  /* for DEBUGGING */
}

/***
Grid: header
***/
.grid-header {
    grid-area: header;
    background: rgb(45, 139, 183);
    
    color: white;
    text-align: center;
    text-justify: auto;
    font-style: oblique;
    font-weight: bolder;
    letter-spacing: -0.3em;
}

.grid-header h1 {
    margin: 0;
    font-size: 80px;
    padding: 54px;
}

/***
Grid: nav
***/
.grid-nav {
    grid-area: nav;
    background: rgb(45, 139, 183);
    
    color: white;
    font-family: monospace; 
    text-align: center;
}

.grid-nav ul {
    color: white;
    margin: 0;
    padding: 0;

    list-style-type: none;
    font-size: larger;
    font-weight: 300;
    overflow: hidden;
}

.grid-nav a {
    text-decoration: none;
    color: white;
}

.grid-nav a, .grid-nav li {
    display: inline-block;
    padding: 5px 10px;
}

/***
Grid: main 
***/
.grid-main {
    grid-area: main;
    background-color: rgb(241, 255, 255);
}

/***
Grid: footer-1
***/
.grid-footer-1 {
    grid-area: footer-1;
    background-color: rgb(11, 55, 55);

    color: rgb(149, 149, 149);
    text-align: center;
}

.container-motd {
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container-motd h2 {
    margin: 0;
    padding: 20px 20px 10px 20px;

    font-size: 37px;
}

.container-motd h5 {
    margin: 0;
    padding: 20px;

    color: rgb(209, 209, 209);
    font-style: oblique;
    font-size: 20px;
}

/***
Grid: footer-2
***/
.grid-footer-2 {
    grid-area: footer-2;
    background-color: rgb(22, 22, 22);
}