about__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

about__title {
    font-size: var(--size-2xl);  /* REDUNDANT: for readability */
    color: var(--clr-light);     /* REDUNDANT: for readability */
}

about__description {
    max-width: 60ch;
    font-size: var(--size-5xl);
    color: var(--clr-slate600);
}